# Airflow
airflow.cfg
logs/
*.pid
*.sqlite
unittests.cfg

# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.pyo
*.pyd
*.db
*.log
data/
dados/kaggle_data/*
dados/
*.parquet
# Virtualenv
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/

#Keaggle
secrets/

